body {
    background-color: black;
    text-align: center;
    justify-content: center;
    justify-self: center;
}

img {
    border: solid #6D28D9 20px;
    border-radius: 20px;
    max-width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
}
