body {
    background-color: black;
    text-align: center;
    justify-content: center;
    justify-self: center;
}

img {
    width: 100vh;
    border: solid #6D28D9 10px;
}

.container {
    display: flex;
}
