.container {
    display: flex;
    justify-content: center;
}

body {
    flex-direction: column;
    display: flex;
    /* background-color: rgb(0, 0, 0); */
    justify-content: center;
    background-image: url("Untitled-11.jpg");
    background-size: 50%;
}

@font-face {
    font-family: "Spacepatrol";
    src: url("/fonts/Highman.ttf") format("truetype");
}


/* Fonts */
.bigtext{
    font-family: "Spacepatrol";
    text-align: center;
    border: 10px rgb(0, 0, 0) solid;
    color: black;
    border-radius: 40px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    justify-self: center;
}

.rainbow-lr {
    background: linear-gradient(to right, red, orange , yellow, green, cyan, blue, violet);
    color:transparent;
    background-clip: text;
  }

.nftpics {
    height: 300px;
    width: 300px;
    margin: 3px;
}

a:link {
    text-decoration: none;
    color: #7C3AED;
}
a:visited {
    color: #7C3AED;
}
a:hover {
    color: white;
}
a:active {
    color: red;
}